{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ redactors.username }}
    <a href="{% url 'agency:redactors-delete' pk=redactors.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'agency:redactors-update' pk=redactors.id %}" class="btn btn-secondary link-to-page">
      Update redactor
    </a>
  </h1>

  <p><strong>First name:</strong> {{ redactor.first_name }}</p>
  <p><strong>Last name:</strong> {{ redactor.last_name }}</p>
  <p><strong>Experience:</strong> {{ redactor.years_of_experience }}</p>
  <p><strong>Is staff:</strong> {{ redactor.is_staff }}</p>

  <div class="ml-3">
    <h4>Newspapers</h4>

    {% for newspaper in driver.newspapers.all %}
        <hr>
        <p><strong>Title:</strong> {{ newspaper.title }}</p>
        <p><strong>Topic:</strong> {{ newspaper.redactor.name }}</p>
        <p class="text-muted"><strong>Id:</strong> {{newspaper.id}}</p>

    {% empty %}
      <p>No newspapers!</p>
    {% endfor %}
  </div>
{% endblock %}
